<div class="hero-wrap" style="background-image: url('../../assets/custom_pics/misc2/iStock-629626432.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay">

    </div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                        class="mr-2"><a href="index.html">Home</a></span> <span>Our Cause</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Our Cause</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">

        <p>
            Congenital heart disease (CHD) is one of the most common contributing factors towards childhood
            morbidity and mortality. In India, approximately 3,00,000 babies are born every year with some form of
            CHD. Of these, 1,00,000 require surgical or trans catheter intervention to alleviate their symptoms or
            prolong their life or both. Given our current infrastructure, we are able to cater to about 20,000 babies
            while 80,000 children/year continue to suffer or perish due to their heart problem. There are multiple
            reasons for the treatment not being available to all and these include lack of awareness, inability to
            access primary health care, educational backwardness, cultural taboos and most importantly lack of
            funds. To add to these, girls get even more neglected due to gender bias in many communities. 
            CHD is not a single entity but comprises of a spectrum of malformations of the heart. At one end of the
            spectrum you have disorders which require multiple interventions while at the other end you have
            simple defects which can be corrected with a single procedure resulting in normal quality of life and
            longevity. Atrial septal defect, ventricular septal defect and patent ductus arteriosus are some of the
            defects which can almost be cured with timely interventions.
        </p>

        <p>
            ‘Mission Heart Foundation’ supports the cardiac treatment of pediatric patients with Coronary Heart
            Disease, this will include device closures as well as surgical repairs. We provide funding for the
            treatment for the financially challenged girl child. We will begin with covering children from Mumbai
            and its suburbs Navi Mumbai and plan to expand the activity to other parts of Maharashtra.
        </p>

        <div>
            <span>We seek your support in</span>
            <ul>
                <li>Referring patients (especially the needy girl child with CHD) needing financial support or treatment.
                </li>
                <li>Donating to sponsor a child by emailing us at missionheart_foundation@hotmail.com
                    We hope that you will participate actively in supporting this cause.
                </li>
            </ul>
        </div>

        <br>

        <p>
            Regards,
            <br>
            Dr Robin Pinto.
            <br>
            Founding Trustee.
        </p>

    </div>
</section>