<div class="hero-wrap" style="background-image: url('../../assets/custom_pics/misc2/iStock-1205533174.jpg');"
    data-stellar-background-ratio="0.2">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '20%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                        class="mr-2"><a href="index">Home</a></span> <span>FAQs</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">FAQs</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-4 col-lg-4 ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <div href="javascript:void(0)" class="block-20"
                        style="background-image: url('../../assets/custom_pics/misc2/iStock-1158632861.jpg');">
                    </div>
                    <div class="text p-4 d-block" data-toggle="modal" data-target="#exampleModalLong1">
                        <div class="meta mb-3">
                        </div>
                        <h3 class=" mt-3 pointer">What is CHD?</h3>
                        <!-- <a href="#">CHD is the presence of structural defects in the heart from the day the baby is born...</a> -->
                    </div>
                </div>
            </div>

            <!-- Modal 1-->
            <div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">What is CHD?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            CHD is the presence of structural defects in the heart from the day the baby is born. This
                            arises
                            from failure of normal embryological development resulting in abnormal communications
                            (holes) in the heart, abnormal connections, narrowing of valves and arteries and various
                            other
                            anomalies.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>


            <!-- ####################### -->


            <div class="col-md-4 col-lg-4 ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <div href="javascript:void(0)" class="block-20"
                        style="background-image: url('../../assets/custom_pics/misc2/iStock-960478860.jpg');">
                    </div>
                    <div class="text p-4 d-block" data-toggle="modal" data-target="#exampleModalLong2">
                        <div class="meta mb-3">
                        </div>
                        <h3 class=" mt-3 pointer">What is the incidence of CHD in India?</h3>
                        <!-- <a href="#">CHD is the presence of structural defects in the heart from the day the baby is born...</a> -->
                    </div>
                </div>
            </div>

            <!-- Modal 2-->
            <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">What is the incidence of CHD in India?
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            There are various estimates of the incidence of CHD depending on which studies you refer to
                            but
                            on an average the incidence in India approximates 9 per 1000 live births, which approximates
                            to
                            annual incidence of over 200 thousand babies borne every year with CHD. This places a
                            significant burden on the already stretched resources currently available to cope with such
                            problems.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>


            <!-- ####################### -->
            <div class="col-md-4 col-lg-4 ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <div href="#" class="block-20"
                        style="background-image: url('../../assets/custom_pics/misc2/iStock-1211689312.jpg');">
                    </div>
                    <div class="text p-4 d-block" data-toggle="modal" data-target="#exampleModalLong3">
                        <div class="meta mb-3">
                        </div>
                        <h3 class=" mt-3 pointer"> How do parents recognize this condition? </h3>
                        <!-- <a href="#">CHD is the presence of structural defects in the heart from the day the baby is born...</a> -->
                    </div>
                </div>
            </div>

            <!-- Modal 3-->
            <div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">How do parents recognize this condition?
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            There is a wide spectrum of presentation of CHD ranging from absent or minimal symptoms to
                            the other extreme of babies coming to the doctors in a critical and life threatening state
                            with
                            severe heart failure or with very low oxygenation and bluish discoloration (also called
                            cyanosis).
                            Babies with mild CHD may escape detection in childhood by both parents and doctors as they
                            may not cause symptoms and the clinical examination may be passed off as normal. These
                            patients are usually detected later in life sometimes incidentally. At the other end of the
                            spectrum
                            are those who present on the first day of life neonatal period with critical
                            life-threatening disease
                            in whom urgent medical intervention is required to save the babies life. For the vast
                            majority the
                            age of presentation falls somewhere between these two extremes.
                            <br>
                            <br>
                            The symptoms of the babies usually fall in one of two groups
                            <br>
                            <br>
                            Group 1: &nbsp;
                            Includes babies who present with severe breathlessness, rapid respiratory effort or with
                            feeding
                            difficulty (breast feeding is the metabolically most demanding activity a baby performs).
                            They
                            manifest a typical suck-feed-suck cycle where they let go of the mothers breast multiple
                            times in
                            the feeding cycle during a single feed. This results in the baby being continuously hungry
                            with
                            irritability and incessant crying. Some mothers also notice increase perspiration on the
                            babies
                            forehead. As these problems increase the baby fails to gain weight and has delayed physical
                            milestones. In addition, flooding of the lung by these defects causes increase frequency of
                            lower
                            respiratory tract infection and recurrent pneumonias. If the baby does not present in the
                            neonatal
                            period i.e. the first month of life, the most common presentation is after 6 weeks to one
                            year of
                            age. This type of presentation is typical of babies with large ‘holes” and flooding of the
                            lung,
                            abnormal severe obstruction of blood flow from the left ventricle, severely deformed and
                            small
                            left ventricle, intrauterine maternal infections which can affect the babies heart muscle
                            pumping
                            or rarely severe abnormalities of heart rhythm which can affect the babies heart function.
                            The
                            more complex and severe the anatomic defect, the earlier in life is the presentation. For
                            smaller
                            defects and those which do not place a burden on the babies heart it may be brought to the
                            attention of the doctor in a regular visit where the physician may hear an abnormal sound in
                            the
                            babies’ heart called a murmur.
                            <br><br>
                            Group 2: &nbsp;
                            Some parents find that their babies have an abnormal bluish discoloration (called cyanosis).
                            As
                            in previous group, those who present at birth, usually have a severe cardiac problem
                            necessitating immediate medical attention and often a life saving surgery. Those with milder
                            problems present later on in life maybe in the first or second year with progressively
                            increasing
                            discoloration. Some babies especially in the first year of life can experience life
                            threatening
                            spells where they become intensely blue, with severe grunting and respiratory efforts,
                            altered
                            sensorium and loss of consciousness. These are referred to as cyanotic spells and are a
                            medical
                            emergency. If they are not diagnosed earlier in life then the parents often complain of
                            progressive increase in breathlessness relieved by squatting. This group of condition is
                            usually
                            referred to as “blue babies” are usually caused when there is a large communication between
                            the
                            pumping chambers in addition to a severe obstruction of blood flow to the lungs. This
                            results in
                            the blue (deoxygenated) blood bypassing the lungs where it is supposed to go for
                            oxygenation,
                            and instead going via the hole to the left side of the heart to cause the blueness. This is
                            also seen
                            in babies whose right side of the heart is not developed at all (Hypoplastic right heart)
                            and in
                            those whom the blood circulation is running in parallel circuits and not as is normal in a
                            series - a
                            condition called transposition of great arteries. These later 2 conditions usually present
                            at birth
                            and the baby is very sick.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>


            <!-- ####################### -->
            <div class="col-md-4 col-lg-4 ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <div href="#" class="block-20"
                        style="background-image: url('../../assets/custom_pics/misc2/iStock-1285046359.jpg');">
                    </div>
                    <div class="text p-4 d-block" data-toggle="modal" data-target="#exampleModalLong4">
                        <div class="meta mb-3">
                        </div>
                        <h3 class=" mt-3 pointer"> What should one do if a child has suspected CHD? </h3>
                    </div>
                </div>
            </div>

            <!-- Modal 4-->
            <div class="modal fade" id="exampleModalLong4" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">What should one do if a child has
                                suspected CHD?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            The first thing to remember is that the diagnosis of CHD does not necessarily mean that the
                            baby
                            will need surgery. In fact, a significant number of cases turn out to be mild defects where
                            all that
                            is required is watchful waiting. Oftentimes some of the smaller defects heal spontaneously
                            by
                            themselves. Despite this, it is a must that the child be referred to a specialist at the
                            earliest to
                            assess and diagnose the child’s problem and chart a management plan for the future. Those
                            babies who present early in infancy usually have with serious heart defects requiring
                            immediate
                            intervention at birth or in the first year of life. Once referred to a pediatric
                            cardiologist /center the
                            doctor will assess the baby in detail with special attention to the weight, overall general
                            condition
                            will check the saturation using pulse oximeter and also listen to the child ‘s heart beat
                            with a
                            stethoscope for abnormal sounds. He may often ask for an ECG and chest Xray to be performed.
                            But the most important test to assess the baby’s heart is the 2D ECHO CARDIOGRAPHY
                            WITH COLOR DOPPLER STUDY. THIS TEST IS AN ABSOLUTE MUST with any child
                            with suspected CHD.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>


            <!-- ####################### -->
            <div class="col-md-4 col-lg-4 ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <div href="" class="block-20"
                        style="background-image: url('../../assets/custom_pics/misc2/iStock-143176156.jpg');">
                    </div>
                    <div class="text p-4 d-block" data-toggle="modal" data-target="#exampleModalLong5">
                        <div class="meta mb-3">
                            <!-- <div><a href="#">Sept 10, 2018</a></div> -->
                            <!-- <div><a href="#">Admin</a></div>
                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div> -->
                        </div>
                        <h3 class=" mt-3 pointer"> What is 2DEcho cardiography and color doppler? </h3>
                        <!-- <a href="#">CHD is the presence of structural defects in the heart from the day the baby is born...</a> -->
                    </div>
                </div>
            </div>

            <!-- Modal 5-->
            <div class="modal fade" id="exampleModalLong5" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">What is 2DEcho cardiography and color
                                doppler?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Essentially this is an ultrasound examination of the heart performed in a careful and
                            systemic
                            manner. Addition of color doppler to the study enables the doctor to assess the severity of
                            any of
                            the structural defects that may be present. It is essential for the baby to be quiet during
                            examination and hence the baby should be well fed and comfortable just prior to the test. In
                            a

                            few babies the doctor may resort to giving a mild oral sedative which is extremely safe and
                            enables complete examination to be done. This test has no side effects whatsoever and is the
                            key
                            to comprehensive diagnosis which enables the doctor to correctly advise regarding management
                            options. It is to be remembered that such tests should be carried out by specialized doctors
                            or
                            centers who have vast experience in dealing with such babies as sometimes making a correct
                            diagnosis can be tricky. Once the basic tests are performed the doctor will be in a better
                            position
                            to advise the parents as to the correct course of further action.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>