
    <div class="hero-wrap" style="background-image: url('../../assets/custom_pics/misc2/iStock-512993636.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
             <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
          </div>
        </div>
      </div>
    </div>

    
    <section class="ftco-section">
    	<div class="container">
    		<div class="row d-flex">
    			<!-- <div class="col-md-6 d-flex ftco-animate">
    				<div class="img img-about align-self-stretch" style="background-image: url(custom_pics/banner2.jpg); width: 100%;"></div>
    			</div> -->
    			<div class="col-md-12 pl-md-5 ftco-animate">
    				<h2 class="mb-4">Welcome to Mission Heart Foundation Since 2019</h2>
    				<p>
              We are a non profit organisation working towards curing congenital heart diseases in children across India.
            </p>
            <p>
              Congenital heart disease (CHD) is one of the most common contributing factors towards childhood
              morbidity and mortality. In India, approximately 3,00,000 babies are born every year with some form of
              CHD. Of these, 1,00,000 require surgical or trans catheter intervention to alleviate their symptoms or
              prolong their life or both.
            </p>
    				<p>Mission Heart Foundation supports the cardiac treatment of pediatric patients with Coronary Heart
              Disease, this will include device closures as well as surgical repairs. We provide funding for the
              treatment for the financially challenged girl child. We will begin with covering children from Mumbai
              and its suburbs Navi Mumbai and plan to expand the activity to other parts of Maharashtra.</p>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-counter ftco-intro ftco-intro-2" id="section-counter">
    	<div class="container">
    		<div class="row no-gutters">
    			
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-1 align-items-stretch">
              <div class="text">
              	<span>Served Over</span>
                <strong class="number" data-number="25">0</strong>
                <span>Children across 4 states in India</span>
              </div>
            </div>
          </div>

          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-3 align-items-stretch">
              <div class="text">
              	<span >Children in Need</span>
                <strong class="number" data-number="50">0</strong> 
              	<span> Patients in need of immediate treatment</span>
              </div>
            </div>
          </div>

          
    		</div>
    	</div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Founding Members</h2>
            <p></p>
          </div>
        </div>
        <div class="row">
        	
          <div class="cont">

            <div class="cardx">
              <div class="card_pic">
                <img src="../../assets/custom_pics/Neil_dad.png" alt="">
              </div>
              <h3>Dr Robin Pinto</h3>
              <p>
  Is an eminent cardiologist with a vast experience of over 30 years in the field. He has a special
  interest in pediatric cardiology and has authored numerous national and international articles in
  the same. Dr Pinto has always felt strongly about providing quality care and financial support for
  the girl child with congenital heart disease as he is of the firm belief that these children do not
  obtain optimum care in India for a variety of social reasons.</p>
            </div>
            <div class="cardx">
              <div class="card_pic">
                <img src="../../assets/custom_pics/Neil_mom.jpg" alt="">
              </div>
              <h3>Cherylann Pinto</h3>
              <p>
                Is an Executive Director in a pharmaceutical company. 
Having the scientific &amp; CSR background, she is passionate about giving back to society and
improving lives of the lesser priviledged children &amp; families in Maharashtra. 
Building awareness and helping parents better understand the ailment and care required for
Congenital Heart Disease is one of the objectives which she intends to drive.
She has been recognized for her contribution to CSR in Asia and her personal dream is to build
Mission Heart foundation to help patients in need.
              </p>
            </div>
          </div>
          
        </div>
      </div>
    </section>