
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" routerLink="index">MISSION HEART FOUNDATION</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> 
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a routerLink="index" class="nav-link">Home</a></li>
          <li class="nav-item"><a routerLink="about" class="nav-link">About</a></li>
          <li class="nav-item"><a routerLink="causes" class="nav-link">Cause</a></li>
          <li class="nav-item"><a routerLink="faq" class="nav-link">FAQs</a></li>
          <li class="nav-item"><a routerLink="testimonials" class="nav-link">Testimonials</a></li>
          <li class="nav-item"><a routerLink="register" class="nav-link">Register</a></li>
          <li class="nav-item"><a routerLink="donate" class="nav-link">Donate</a></li>
        </ul>
      </div>
    </div>
  </nav>


<!-- Navigation up -->



<router-outlet></router-outlet>



<!-- Footer below -->


<footer class="ftco-footer ftco-section img">
  <div class="overlay"></div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">About Us</h2>
          <p>We are a non profit organisation working towards curing congenital heart diseases in children across India.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">FAQs</h2>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(../assets/images/image_1.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a routerLink="faq">What is CHD?</a></h3>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" style="background-image: url(../assets/images/image_2.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a routerLink="faq">What is the incidence of CHD in India?</a></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Mission Heart Foundation, 4A, Al Ayaz, Peter Dias Road, Bandra W, Mumbai 400050</span></li>
              <li><a href="tel:9820838477"><span class="icon icon-phone"></span><span class="text">+91 9820838477</span></a></li>
              <li><a href="mailto:missionheart_foundation@hotmail.com"><span class="icon icon-envelope"></span><span class="text">missionheart_foundation@hotmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
<!-- | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>