<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="hero-wrap" style="background-image: url('../assets/custom_pics/banner1_full.jpg ');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Curing congenital heart
          disease, one child at a time</h1>
        <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a (click)="play()"
            href="../../assets/custom_data/index_audio.mp3"
            class="btn btn-white btn-outline-white px-4 py-3 popup-vimeo"><span class="icon-play mr-2"></span>Hear from
            us</a></p>
      </div>
    </div>
  </div>
</div>

<section class="ftco-counter ftco-intro" id="section-counter">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-1 align-items-stretch">
          <div class="text">
            <span>Served Over</span>
            <strong class="number" data-number="25">0</strong>
            <span>Children across cities in Maharashtra</span>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-2 align-items-stretch">
          <div class="text">
            <h3 class="mb-4">Looking for a donor?</h3>
            <p>If you know a child suffering from congenital heart disease in need of treatment, register them below</p>
            <p><a href="register" class="btn btn-white px-3 py-2 mt-2">Register Now</a></p>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-3 align-items-stretch">
          <div class="text">
            <h3 class="mb-4">Looking to donate?</h3>
            <p>If you are looking to help save a child through a monetary contribution, reach out to us below.</p>
            <p><a href="donate" class="btn btn-white px-3 py-2 mt-2">Donate now</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3"><span class="flaticon-donation-1"></span></div>
          <div class="media-body pl-4">
            <h3 class="heading">Reach children</h3>
            <p>Help us identify lower socio economic families with children suffering from heart disease.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3"><span class="flaticon-donation"></span></div>
          <div class="media-body pl-4">
            <h3 class="heading">Make Donation</h3>
            <p>Help support the treatment of a child's condition through a monetary contribution.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 d-flex services p-3 py-4 d-block">
          <div class="icon d-flex mb-3"><span class=" flaticon-charity"></span></div>
          <div class="media-body pl-4">
            <h3 class="heading">Spread Awareness</h3>
            <p>Help us spread awareness about the importance of congenital heart disease in India.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Hear from our children</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry ">
          <a href="testimonials.html" class="block-20"
            style="background-image: url('../assets/custom_pics/testimonials/anuja\ pawar.png');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="javascript:void(0)">Sep. 10, 2018</a></div>
            </div>
            <h3 class="heading mb-4 text-center"><a href="testimonials.html">Anuja Pawar</a></h3>
            <p class="time-loc text-center"><span class="mr-2"><i class="icon-clock-o"></i> 12 yrs old</span> <span><i
                  class="icon-map-o"></i> Mumbai</span></p>
            <p>
              <b>Q.When did you come to know about your daughter’s heart condition?</b>
              <br>
              Doctors informed us that she had the heart ailment since birth. 
              Our financial condition was not strong enough to afford her surgery
              expenses...
            </p>
            <p><a href="testimonials.html">Read More <i class="ion-ios-arrow-forward"></i></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-center">
          <a href="testimonials.html" class="block-20"
            style="background-image: url('../assets/custom_pics/testimonials/Swarashree.png');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="javascript:void(0)">Sep. 10, 2018</a></div>
            </div>
            <h3 class="heading mb-4 text-center"><a href="testimonials.html">Swarashree Ajabe</a></h3>
            <p class="time-loc text-center"><span class="mr-2"><i class="icon-clock-o"></i> 4 yrs old</span> <span><i
                  class="icon-map-o"></i> Mumbai</span></p>
            <p>
              <b>Q. When did you come to know about your daughter’s Heart condition?</b>
              <br>
              Our child Swarashree became malnourished since she stopped having food.
              Due to excessive sleep and no physical activity in the form of play, she suffered
              a lot and her blood started turning blue.
              We could not afford treatment, and went to Mission Heart Foundation...
            </p>
            <p><a href="testimonials.html">Read More <i class="ion-ios-arrow-forward"></i></a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="testimonials.html" class="block-20"
            style="background-image: url('../assets/custom_pics/testimonials/Hindvi.png');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="javascript:void(0)">Sep. 10, 2018</a></div>
            </div>
            <h3 class="heading mb-4 text-center"><a href="testimonials.html">Hindvi Avinash Walekar</a></h3>
            <p class="time-loc text-center"><span class="mr-2"><i class="icon-clock-o"></i> 3 yrs old</span> <span><i
                  class="icon-map-o"></i> Mumbai</span></p>
            <p>
              <b>Q. When did you come to know about your daughter’s heart condition?</b>
              <br>
              After her birth when we did her 2-D Echo Color Doppler test for the first time and found this
              heart condition. We were financially weak at the time of operation and could not afford the
              operation expenses. However, managed to do so with the help of Mission Heart Foundation...
            </p>
            <p><a href="testimonials.html">Read More <i class="ion-ios-arrow-forward"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section-3 img" style="background-image: url(../assets/custom_pics/banner1_full.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex justify-content-center">
      <!-- <div class="col-md-6 d-flex ftco-animate">
                  <div class="img img-2 align-self-stretch" style="background-image: url(./custom_pics/misc2/iStock-1285046359.jpg);"></div>
              </div> -->
      <div class="col-md-6 volunteer pl-md-5 ftco-animate">
        <h3 class="mb-3">Reach out to us</h3>
        <form #form="ngForm" class="volunter-form" (ngSubmit)="onClickSubmit(form.value)">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Your Name" ngModel>
          </div>
          <div class="form-group">
            <input type="text"  name="phoneNo" class="form-control" placeholder="Phone number" ngModel>
          </div>
          <div class="form-group">
            <textarea name="message" id="" cols="30" rows="3" class="form-control" placeholder="Message" ngModel></textarea>
          </div>
          <div class="text-center">
            <div class="form-group">
              <input type="submit" value="Send Message"  class="btn btn-white py-3 px-5">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>