<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="hero-wrap" style="background-image: url('../../assets/custom_pics/misc2/iStock-637853684.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a
              href="index">Home</a></span> <span>Donate</span></p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Donate</h1>
      </div>
    </div>
  </div>
</div>


<section class="ftco-section-3 img">
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex justify-content-center">
      <!-- <div class="col-md-6 d-flex ftco-animate">
                  <div class="img img-2 align-self-stretch" style="background-image: url(./custom_pics/misc2/iStock-1205533174.jpg);"></div>
              </div> -->
      <div class="col-md-6  pl-md-5 volunteer ftco-animate">
        <h3 class="mb-3">Donate to a patient in need</h3>
        <form #form="ngForm" class="volunter-form" (ngSubmit)="onClickSubmit(form.value)">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Your Name" ngModel>
          </div>
          <div class="form-group">
            <input type="text" name="phoneNo" class="form-control" placeholder="Phone number" ngModel>
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" ngModel>
          </div>

          <div class="form-group">
            <textarea name="message" id="" cols="30" rows="3" class="form-control" placeholder="Message"
              ngModel></textarea>
          </div>
          <div class="text-center">
            <div class="form-group">
              <input type="submit" value="Send Message" class="btn btn-white py-3 px-5">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>