<div class="hero-wrap" style="background-image: url('../../assets/custom_pics/testimonial_banner.png');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a
              href="index.html">Home</a></span> <span>Testimonials</span></p>
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Testimonials</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry ">
          <a href="blog-single.html" class="block-20"
            style="background-image: url('../../assets/custom_pics/testimonials/anuja\ pawar.png');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta m-auto">
              <div><a href="javascript:void(0)">Sep. 10, 2018</a></div>

            </div>
            <h3 class="heading mb-4 text-center"><a href="javascript:void(0)">Anuja Pawar</a></h3>
            <p class="time-loc text-center"><span class="mr-2 "><i class="icon-clock-o"></i> 12 yrs old</span> <span><i
                  class="icon-map-o"></i> Mumbai</span></p>

            <p><b>Q.When did you come to know about your daughter’s heart condition?</b><br>
              Doctors informed us that she had the heart ailment since birth. 
              Our financial condition was not strong enough to afford her surgery
              expenses.
              <br>
              <br>
              <b>Q. How did the operation change her life?</b><br>
              She is healthier and in good condition than before. We are thankful to
              Mission Heart Foundation and will be indebted to them lifetime for their timely help.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-center">
          <a href="blog-single.html" class="block-20"
            style="background-image: url('../../assets/custom_pics/testimonials/Swarashree.png');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="javascript:void(0)">Sep. 10, 2018</a></div>
            </div>
            <h3 class="heading mb-4 text-center"><a href="javascript:void(0)">Swarashree Ajabe</a></h3>
            <p class="time-loc text-center"><span class="mr-2"><i class="icon-clock-o"></i> 4 yrs old</span> <span><i
                  class="icon-map-o"></i> Mumbai</span></p>
            <p><b>Q. When did you come to know about your daughter’s Heart condition?</b><br>
              Our child Swarashree became malnourished since she stopped having food.
              Due to excessive sleep and no physical activity in the form of play, she suffered
              a lot and her blood started turning blue.
              We could not afford treatment, and went to Mission Heart Foundation.
              <br>
              <br>
              <b>Q. How did the operation change her life?</b><br>
              After being operated Swarashree is feeling better now. She is in 1st grade in school and is now
              living life like a normal child.
              We sincerely thank Mission Heart foundation for their continuous support.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20"
            style="background-image: url('../../assets/custom_pics/testimonials/Hindvi.png');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="javascript:void(0)">Sep. 10, 2018</a></div>
            </div>
            <h3 class="heading mb-4 text-center"><a href="javascript:void(0)">Hindvi Avinash Walekar</a></h3>
            <p class="time-loc text-center"><span class="mr-2"><i class="icon-clock-o"></i> 3 yrs old</span> <span><i
                  class="icon-map-o"></i> Mumbai</span></p>
            <p>
              <b>Q. When did you come to know about your daughter’s heart condition?</b><br>
              After her birth when we did her 2-D Echo Color Doppler test for the first time and found this
              heart condition. We were financially weak at the time of operation and could not afford the
              operation expenses. However, managed to do so with the help of Mission Heart Foundation
              and friends, family help.
              <br>
              <br>
              <b>Q. How did the operation change her life?</b><br>
              After the operation she is feeling good. With the help of Mission Heart Foundation our child has
              got a new life. We are sincerely grateful to you for reviving life in our child.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex ftco-animate">
        <div class="blog-entry align-self-center">
          <a href="blog-single.html" class="block-20"
            style="background-image: url('../../assets/custom_pics/testimonials/Meghna.png');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="javascript:void(0)">Sep. 10, 2018</a></div>
            </div>
            <h3 class="heading mb-4 text-center"><a href="javascript:void(0)">Meghana Potinde</a></h3>
            <p class="time-loc text-center"><span class="mr-2"><i class="icon-clock-o"></i> 4 yrs old</span> <span><i
                  class="icon-map-o"></i> Mumbai</span></p>
            <p><b>Q. When did you come to know about your daughter’s Heart condition?</b><br>
              When she was just 15 days old we came to know about her ailment. Our financial condition
              was not good to afford her surgery expenses.
              <br>
              <br>
              <b>Q. How did the operation change her life?</b><br>
              Post surgery her life has changed so much that we couldn't believe ourselves.
              We had never thought she will be completely cured and we are very thankful
              for it.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="blog-single.html" class="block-20"
            style="background-image: url('../../assets/custom_pics/testimonials/Zara.png');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="javascript:void(0)">Sep. 10, 2018</a></div>
            </div>
            <h3 class="heading mb-4 text-center"><a href="javascript:void(0)">Zara Shaikh</a></h3>
            <p class="time-loc text-center"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span>
              <span><i class="icon-map-o"></i> Mumbai</span>
            </p>
            <p>
              <b>Q. How did the operation change her life?</b>
              <br>
              <br>
              Her operation was successful, and coincidentally the surgery day was also her birthday. So, it was as if
              she got a
              new life. Now she feels good and has become healthier than before. She has fun and goes to play, and lives
              a
              normal life, all because of Mission Heart Foundation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section-3 img" style="background-image: url(../../assets/custom_pics/banner1_full.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex justify-content-center">
      <!-- <div class="col-md-6 d-flex ftco-animate">
                  <div class="img img-2 align-self-stretch" style="background-image: url(./custom_pics/misc2/iStock-1205533174.jpg);"></div>
              </div> -->
      <div class="col-md-6 volunteer pl-md-5 ftco-animate">
        <h3 class="mb-3">Reach out to us</h3>
        <form #form="ngForm" class="volunter-form" (ngSubmit)="onClickSubmit(form.value)">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Your Name" ngModel>
          </div>
          <div class="form-group">
            <input type="text" name="phoneNo" class="form-control" placeholder="Phone number" ngModel>
          </div>
          <div class="form-group">
            <textarea name="message" id="" cols="30" rows="3" class="form-control" placeholder="Message"
              ngModel></textarea>
          </div>
          <div class="text-center">
            <div class="form-group">
              <input type="submit" value="Send Message" class="btn btn-white py-3 px-5">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>